* {padding:0; margin:0;}
a, a:visited {color: #930;}
a:hover {color:#09c; text-decoration:none;}
#sidebar {
	width: 200px;
	float: right; padding:15px 30px 5px 5px;
}
#left {
	padding-left: 25px;
	float: left;
	width: 595px;
}
body {
	font:14px "Trebuchet MS", Arial, sans-serif;
	color:#666;
	background:#999 url(images/bg.jpg) repeat-x;
}
.clear {clear:both;}

#wrap {background:url(images/contentbg.jpg) repeat-y; width:867px; margin:auto;}
#header{ background:url(images/header.jpg) no-repeat; height:188px;}
#footer {background:url(images/footer.jpg) no-repeat; height:103px; padding:25px 0 0 0;}
#left p {line-height:18px; margin-bottom:20px;}
#breadcrumb { padding:5px; background:#f4f4f4; border-bottom:solid 1px #e2e2e2; margin-bottom:10px; font:13px "Trebuchet MS", Arial, sans-serif; text-transform:uppercase;}
#breadcrumb a, #breadcrumb a:visited {
	text-decoration:none;
	color:#666;
}
#breadcrumb a:hover {
	text-decoration:none;
	color:#069;
}

h1, h2, h3, h4 {font:"Trebuchet MS", Arial, sans-serif;}
h2 {font:24px "Trebuchet MS", Arial, sans-serif;}
#topbar {
	height:40px; padding:55px 25px 0 25px;
}
#searchbar {
	width:250px;
	float:left;
	padding-left:35px;
	background-image: url(images/searchicon.jpg);
	background-repeat: no-repeat;
	background-position: 3px 9px;
	padding-top: 5px;
}
#searchbar #keyword {
	width:150px;
	display: block;
	float: left;
	height: 20px;
	border: 1px solid #969696;
	padding: 2px;
	margin-right: 5px;
	font-size: 14px;
}
#searchbar form {padding:3px;}
#navigation { margin-left:305px; padding-top:8px;}
#navigation ul {list-style:none;}
#navigation li {display:inline;} 
#navigation a, #navigation a:visited, #navigation a:active {display:block; float:left; background:url(images/menu2.jpg) repeat-x; height:19px; padding:5px 15px 0 15px; margin-right:5px; color:#000; text-decoration:none; border:solid 1px #999;}
#navigation a:hover {background:url(images/menu1.jpg) repeat-x; color:#fff; border: solid 1px #09c;}
#navigation .active a {background:url(images/menu1.jpg) repeat-x; color:#fff; border: solid 1px #09c;}
#sidebar h2 {display:block; color:#069; font:16px "Trebuchet MS", Arial, sans-serif; padding:5px; border-bottom: solid 1px #bbb; text-transform:uppercase;}
#sidebar ul {list-style:none; margin-bottom:15px;}
#sidebar li {display:block; height:26px; border-bottom:solid 1px #ddd;}
#sidebar a, #sidebar a:visited {display:block; height:21px; padding:5px 5px 0 5px; color:#333; text-decoration:none;}
#sidebar a:hover { color:#069;}
#mapLi ul {
	list-style-type:square;
	margin-bottom:15px; 
	margin-left:40px; 
}
#mapLi li {
	margin-bottom:1em;
	padding-left:40px;
	padding:3px;
	margin-left:1em;
}
h3.subhead {
	font-size:12px; text-transform:uppercase;
	color: #fff;
	display:block;
	padding:5px;
	border:solid 1px #ddd;
	background: #990000;
}
.columns  {padding:0 8px 0 8px;}
.col1 {width:30%; float:left;}
.col3 {width:30%; float:right;}
.col2 {margin:0 32% 0 32%;}
.clear2 {width:590px; clear:left; float:right; color:#fff!important;}
.columns div {background:#f3fbe0; height:200px;}
.columns div p {padding:5px;}
#subnav {padding: 9px 50px 0 420px; color:#fff;}
#subnav a {color:#fff; text-decoration:none;}
img.leftalign, img.rightalign {display:block; padding:3px; background:#efefef; border: solid 1px #ddd;}
img.leftalign {float:left; margin-right:8px;}
img.rightalign {float:right; margin-left:8px;}
h1#sitename {display:block; padding:5px 70px 0 50px; color:#fff; font:44px normal Helvetica, Arial, sans-serif; }
#sitename a, #sitename a:visited, #sitename a:hover {color:#fff; text-decoration:none;}
#footer p {text-align:center; display:block; padding:3px; font-size:12px;}
#footer #credit {font-size:10px;}
#left h2 { color:#900!important;}
blockquote {background:#efefef; padding:5px; border:solid 1px #ddd; display:block; margin:5px;}
blockquote.leftalign {width:300px; float:left;}
.post ul, .post ol {
	margin-bottom:15px; 
	margin-left:15px; 
}
.post li {
	padding:3px;
	list-style-type:none;
	background:url("images/bullet.jpg") no-repeat top left;
	padding-left:40px;
}
code {background:#ccc; white-space:pre; display:block; margin:5px; padding:5px;}
.postbottom a { margin:0 10px 0 10px;}
.postbottom {padding:3px; background:#efefef; border:solid 1px #ddd; margin-bottom:20px;}
.pagenav {padding:3px; background:#efefef; border:solid 1px #ddd; margin-bottom:20px;}
.pagenav span {display:block; width:250px;}
.pagenav .leftalign {float:left;}
.pagenav .rightalign { margin-left:300px; text-align:right;}
#forms {	
	width:200px;
}
#forms input:focus {
	outline: 0px;
}
#forms textarea:focus {
	outline: 0px;
}
#forms label {
	font-weight: bold;
	display:block;
	text-align:right;
	width:50px;
	float:left;
}
#forms input {
	border-radius: 15px;
	float:right;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}
#forms textarea {
	border-radius: 15px;
	border: solid 1px #aacfe4;
	padding:5px 5px 5px 5px;
}
#forms input[type="submit"] {
	float:left;
	width:100px;
	clear:both;
	height:31px;
	text-align:center;
	background-color:#CDC9C9;
	color:#000000;
	font-size:16px;
	font-weight:bold;
}
#forms input:hover[type="submit"] {
	background-color:#104E8B;
	color: #FFFFFF;
}
#tableButton {
	text-align:right;
	vertical-align:middle;
	width:595px;
	height:10px;
}
#tableButton input[type="submit"] {
	float:left;
	width:50px;
	clear:both;
	height:25px;
	text-align:center;
	background-color:#CDC9C9;
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
#tableButton input {
	border-radius: 15px;
	float:right;
	font-size:12px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 3px 10px;
}
#tableButton input:hover[type="submit"] {
	background-color:#104E8B;
	color: #FFFFFF;
}
#longRow {
	width:500px;
	text-align:left;
}
#lesslongRow {
	width:405px;
	text-align:left;
}
#smallRow {
	width:95px;
	text-align:right;
}
#submit input[type="submit"] {
	float:left;
	width:100px;
	clear:both;
	height:31px;
	text-align:center;
	background-color:#CDC9C9;
	color:#000000;
	font-size:16px;
	font-weight:bold;
	border-radius: 15px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:2px 0 20px 10px;

}
